{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-5">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.input,  {'attr': {'placeholder': 'Search', 'class': 'search_line'}}) }}
        {{ form_end(form) }}

    </div>
    <div class="col-lg-12 new main dash">
        <div class="col-lg-12 full-width-tabs">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr class="tablica_boja">
                        <th>{% trans %}Ime hrane{% endtrans %}</th>
                        <th>{% trans %}Kategorija hrane{% endtrans %}</th>
                        <th>{% trans %}Sastojci{% endtrans %}</th>
                        <th>{% trans %}Oznake{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody id="data">
                    {% for food in foods %}
                    <tr>
                        <td>
                            {{ food.name|trans }}
                        </td>
                        {% if food.category != null %}
                            <td>
                                {{ food.category.title|trans }}
                            </td>
                        {% else %}
                            <td>
                                <b>
                                    {% trans %}Nema kategorije!{% endtrans %}
                                </b>
                            </td>
                        {% endif %}
                        <td>
                            {{ food.ingredients.title|trans }}
                        </td>
                        <td>
                            {{ food.tags.title|trans }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    {{ knp_pagination_render(foods) }}
</div>

{% endblock %}

